.admindataform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.adminform{
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    width: 400px;
  
}

/* body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
} */

/* body {
    font-family: Arial, sans-serif;
} */

/* header {
    background-color: #333;
    color: #fff;
    padding: 10px !important;
    text-align: center;
} */






/* .container123 {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} */
/* 
.content {
    padding: 20px;
    width: 100%;
}

form {
    background-color: #f5efef!important;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
} */

/* label {
    display: block;
    margin-bottom: 10px;
} */

/* input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
} */

/* button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
} */


