.cart-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    text-align: center;
    height: 200px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 70%;
    padding:0px 10px;
    margin: 10px;
}
.card_detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding:10px 10px;
    margin: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first-card-data img{
    width: 60px;
    height: 70px;
}

.fourth-card-data i{
    font-size: 23px;
    cursor: pointer;
}


.empty-cart{
    text-align: center;
    margin-top: 2rem;
}

.price-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalprice{
    display: flex;
    width: 70%;
    margin: 20px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-between;
    align-items: center;

}

.pppp{
    font-weight: 500;
    color: rgb(54, 54, 111);
}